/* A lot of the code ported from https://eloquentjavascript.net/ */

/* Universal Styles */
* {
    box-sizing: border-box;
}

body {
    background: #000;
}

/* Main game styles */
.wrapper {
    position: relative;
    background: #000;
    font-family: sans-serif;
}

.game {
    overflow: hidden;
    position: absolute;
}

.level-text {
    color: black;
    position: absolute;
    z-index: 999;
    font-weight: bold;
}

/* Menu styles */
.menu {
    position: absolute;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.levels-wrapper {
    padding: 0;
    margin-bottom: -6px;
}

.menu-text {
    color: black;
    position: absolute;
    z-index: 999;
    transform: translateY(-25%);
}

/* Menu item styles */
.menu-item {
    box-sizing: content-box;
    background-color: #35a6ca;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    border-radius: 25%;
    text-align: center;
    font-weight: bold;
    line-height: 1.5em;
    color: black;
}

.menu-item.selected {
    border-style: dashed;
    border-color: white;
}

.menu-item[data-status="0"] {
    color: transparent;
    background-color: #ca3535;
}

.menu-item[data-status="0"]::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: black;
    content: "🔒";
}

.menu-item[data-status="1"] {
    background-color: #cac135;
}

.menu-item[data-status="2"] {
    background-color: #35a6ca;
}

/* End text styles */
.end {
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    text-align: center;
}

/* End of level styles*/
.explode-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #00000000;
}

.explode-dot {
    border-radius: 50%;
    background: white;
    position: absolute;
}

/* Fade overlay styles */
.fade-overlay {
    z-index: 999999;
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Game level background styles */
.background {
    background: #888;
    table-layout: fixed;
    border-spacing: 0;
}

.empty[data-number="0"] {
    background: #080820;
}

.empty[data-number="1"] {
    background: #10102c;
}

/* Wall styles */
.wall {
    position: relative;
    background: #b9852a;
    --wall-border-width: 2px;
    --wall-border-color: #e7c181;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'100'%20height%3D'100'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'40'%20y%3D'0'%20width%3D'20'%20height%3D'100'%20fill%3D'%23a5792b'%2F%3E%3C%2Fsvg%3E");
}

/* Wall edge styles */
.wall::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 0px solid var(--wall-border-color);
}

.wall.top::before {
    border-top-width: var(--wall-border-width);
}

.wall.bottom::before {
    border-bottom-width: var(--wall-border-width);
}

.wall.left::before {
    border-left-width: var(--wall-border-width);
}

.wall.right::before {
    border-right-width: var(--wall-border-width);
}

/* Wall corner styles */
.wall::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    --tl: url("data:image/svg+xml,%3Csvg%20width%3D'20'%20height%3D'20'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'0'%20y%3D'0'%20width%3D'2'%20height%3D'2'%20fill%3D'%23e7c181'%2F%3E%3C%2Fsvg%3E");
    --tr: url("data:image/svg+xml,%3Csvg%20width%3D'20'%20height%3D'20'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'18'%20y%3D'0'%20width%3D'2'%20height%3D'2'%20fill%3D'%23e7c181'%2F%3E%3C%2Fsvg%3E");
    --bl: url("data:image/svg+xml,%3Csvg%20width%3D'20'%20height%3D'20'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'0'%20y%3D'18'%20width%3D'2'%20height%3D'2'%20fill%3D'%23e7c181'%2F%3E%3C%2Fsvg%3E");
    --br: url("data:image/svg+xml,%3Csvg%20width%3D'20'%20height%3D'20'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Crect%20x%3D'18'%20y%3D'18'%20width%3D'2'%20height%3D'2'%20fill%3D'%23e7c181'%2F%3E%3C%2Fsvg%3E");
    background-image: none;
}

.wall.tr::after {
    background-image: var(--tr);
}

.wall.tl::after {
    background-image: var(--tl);
}

.wall.br::after {
    background-image: var(--br);
}

.wall.bl::after {
    background-image: var(--bl);
}

.wall.tr.br::after {
    background-image: var(--tr), var(--br);
}

.wall.tr.bl::after {
    background-image: var(--tr), var(--bl);
}

.wall.tl.tr::after {
    background-image: var(--tl), var(--tr);
}

.wall.tl.br::after {
    background-image: var(--tl), var(--br);
}

.wall.tl.bl::after {
    background-image: var(--tl), var(--bl);
}

.wall.bl.br::after {
    background-image: var(--bl), var(--br);
}

.wall.tr.bl.br::after {
    background-image: var(--tr), var(--bl), var(--br);
}

.wall.tl.tr.br::after {
    background-image: var(--tl), var(--tr), var(--br);
}

.wall.tl.tr.bl::after {
    background-image: var(--tl), var(--tr), var(--bl);
}

.wall.tl.bl.br::after {
    background-image: var(--tl), var(--bl), var(--br);
}

.wall.tl.tr.bl.br::after {
    background-image: var(--tl), var(--tr), var(--bl), var(--br);
}

/* Lava style */
.lava {
    background: #f44;
}

/* Generic Actor styles */
.actor {
    position: absolute;
}

/* Portal actor styles */
.locked .portal[class~="Infinity"] {
    --b: #055;
    --c: #022;
}

.portal[class~="Infinity"] {
    --b: #0ff;
    --c: #0bb;
}

.portal[class~="1"] {
    --b: #f00;
    --c: #b00;
}

.portal {
    padding: 0px;
    background-color: var(--b);
}

.portal::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--w) * 0.62);
    height: calc(var(--w) * 0.62);
    transform: translate(-100%, -100%);
    background-color: transparent;
    box-shadow: calc(0.81*var(--w)) calc(0.81*var(--w)) var(--b), calc(0.75*var(--w)) calc(0.75*var(--w)) var(--c), calc(0.75*var(--w)) calc(0.87*var(--w)) var(--c), calc(0.87*var(--w)) calc(0.87*var(--w)) var(--c), calc(0.87*var(--w)) calc(0.75*var(--w)) var(--c);
}

.portal::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(var(--w) * 0.24);
    height: calc(var(--w) * 0.24);
    transform: translate(-100%, -100%);
    background-color: transparent;
    box-shadow: calc(0.62*var(--w)) calc(0.62*var(--w)) var(--b), calc(0.56*var(--w)) calc(0.56*var(--w)) var(--c), calc(0.56*var(--w)) calc(0.68*var(--w)) var(--c), calc(0.68*var(--w)) calc(0.68*var(--w)) var(--c), calc(0.68*var(--w)) calc(0.56*var(--w)) var(--c);
}

/* Teleporter actor styles */
.teleporter {
    background: white;
}

.teleporter[class~="0"] {
    background: #db02fa;
}

.teleporter[class~="1"] {
    background: #02a1fa;
}

.teleporter[class~="2"] {
    background: #11ff32;
}

.teleporter[class~="3"] {
    background: #fff511;
}

.teleporter[class~="4"] {
    background: #3b5aff;
}

.teleporter[class~="5"] {
    background: #ff00cb;
}

.teleporter[class~="6"] {
    background: #fa3c06;
}

.teleporter[class~="7"] {
    background: #02fadc;
}

.teleporter[class~="8"] {
    background: #9ecc2e;
}

.teleporter[class~="9"] {
    background: #dcdcdc;
}

/* Key actor styles */
.key {
    background: #488a93;
}

.key.flash {
    background: #84c6cf;
}

/* Trampoline actor styles */
.trampoline {
    background-color: #c8c8c8;
    border: 1px solid #484848;
    border-radius: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20width='100'%20height='100'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon%20points='50,10%2010,50%2090,50'%20fill='black'/%3E%3Crect%20x='40'%20y='40'%20width='20'%20height='50'%20fill='black'/%3E%3C/svg%3E");
}

.trampoline.bounce {
    background-color: #fff;
    transform: translate(0%, 15%) scaleY(0.75);
}

/* Player actor styles */
.player {
    z-index: 10;
    border-radius: 12%;
    border: 0px solid transparent;
}

.player.n {
    background: #f2f2f2;
}

.player.u {
    background: #843fd7;
}

.player.y {
    background: #cdcb32;
}

.player.g {
    background: #5ccd32;
}

.player.r {
    background: #cd3232;
}

.player.s {
    background: #005a9e;
}

.player.w {
    background: #848484;
}

.player::after {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
}

.player.down::after {
    transform: translate(-50%, 0%);
}

.player.up::after {
    transform: translate(-50%, -100%);
}

.player.left::after {
    transform: translate(-100%, -50%);
}

.player.right::after {
    transform: translate(0%, -50%);
}

.player.left.down::after {
    transform: translate(-100%, 0%);
}

.player.left.up::after {
    transform: translate(-100%, -100%);
}

.player.right.down::after {
    transform: translate(0%, 0%);
}

.player.right.up::after {
    transform: translate(0%, -100%);
}

.lost .player::after {
    display: none;
}

/* Spike actor styles */
.spike {
    background-size: contain;
    background-repeat: no-repeat;
}

.spike.up {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'100'%20height%3D'50'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20points%3D'25%2C0%200%2C50%2050%2C50'%20fill%3D'white'%2F%3E%3Cpolygon%20points%3D'75%2C0%2050%2C50%20100%2C50'%20fill%3D'white'%2F%3E%3C%2Fsvg%3E");
}

.spike.down {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'100'%20height%3D'50'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20points%3D'25%2C50%200%2C0%2050%2C0'%20fill%3D'white'%2F%3E%3Cpolygon%20points%3D'75%2C50%2050%2C0%20100%2C0'%20fill%3D'white'%2F%3E%3C%2Fsvg%3E");
}

.spike.left {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'50'%20height%3D'100'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20points%3D'0%2C25%2050%2C0%2050%2C50'%20fill%3D'white'%2F%3E%3Cpolygon%20points%3D'0%2C75%2050%2C50%2050%2C100'%20fill%3D'white'%2F%3E%3C%2Fsvg%3E");
}

.spike.right {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D'50'%20height%3D'100'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpolygon%20points%3D'50%2C25%200%2C0%200%2C50'%20fill%3D'white'%2F%3E%3Cpolygon%20points%3D'50%2C75%200%2C50%200%2C100'%20fill%3D'white'%2F%3E%3C%2Fsvg%3E");
}

/* .spike {
    display: flex;
}

.spike::before,
.spike::after {
    content: "";
    background-color: transparent;
    position: relative;
    display: inline-block;
    border-style: solid;
}

.spike.left,
.spike.right {
    flex-direction: column;
}

.spike.up::before,
.spike.up::after {
    border-width: calc(var(--w) / 2) calc(var(--w) / 4);
    border-color: transparent transparent white transparent;
    transform: translateY(calc(var(--w) * -0.5));
}

.spike.down::before,
.spike.down::after {
    border-width: calc(var(--w) / 2) calc(var(--w) / 4);
    border-color: white transparent transparent transparent;
}

.spike.left::before,
.spike.left::after {
    border-width: calc(var(--w) / 2) calc(var(--w));
    border-color: transparent white transparent transparent;
    transform: translateX(calc(var(--w) * -1));
}

.spike.right::before,
.spike.right::after {
    border-width: calc(var(--w) / 2) calc(var(--w));
    border-color: transparent transparent transparent white;
} */